<section><h2 id="about-me">About Myself</h2><hr class="bar"/><div class="about-lock"><div ontouchstart="this.classList.toggle('hover');" class="flip-container"><div class="flipper"><div class="front"><div class="face-img"></div></div><div class="back"><div class="face1-img"></div></div></div></div><div class="glyph-icon flaticon-cogwheel28"></div><div class="glyph-icon flaticon-computer1"></div><div class="glyph-icon flaticon-hosting"></div><div class="glyph-icon flaticon-computers13"></div></div><div class="blurb">
  <p>
  Hello World,<br>
  I'm currently a 3rd year CSE student in Jaypee Institute of Information Technology with a lots of interest in Machine Learning, Sports Programming , Android
  Development and Deep Learning. I like to try and replicate projects on numerous neural networks that had been introduced in the field of Deep Learning quite lately.
  Through this blog my aim is to reach out more and more students/enthusiasts like me  to learn new things and also help me in improving my knowledge by sharing their feedback , suggestions. </p>
  </div><div class="skill-lock"></div>
</section>
